<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "index page" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <div class="head">
	    header place
    </div>
	<div id="menu">
		<%= render 'static/menu' %>
	</div>
        <div id="content">
      	 	<%= yield %>
	</div>  
    <div id="foot">
		footer
	</div>
      <% else %>
        <div class="login_box">
          <%= yield %>
        </div>
      <% end %>
  </body>
</html>
